:root {
  --cards-height: 750px;

  --text-huge: 4.5rem;
  --text-large: 3.5rem;
  --text-medium: 2rem;
  --text-regular: 1.25rem;
  --text-small: 0.85rem;
}

/* Layout */

.cards {
  height: var(--cards-height);
  box-sizing: border-box;
  display: grid;
  grid:
    "bsa  js   js     details" 2fr
    "java java php    php    " 1fr
    "qa   qa   dotnet dotnet " 1fr
    / 45% 5% 30% 20%;
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  :root {
    --cards-height: 650px;

    --text-huge: 7rem;
    --text-large: 6rem;
    --text-big: 5rem;
    --text-medium: 3rem;
    --text-regular: 1.35rem;
    --text-small: 1.15rem;
  }
  .cards {
    grid:
      "bsa js   php    php    " 3fr
      "bsa js   dotnet details" 1fr
      "qa  js   dotnet details" 2fr
      "qa  java dotnet details" 2fr
      / 25% 25% 30% 20%;
  }
}

.card {
  box-sizing: border-box;
  position: relative;
}

.card__cover,
.card__content {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  padding: 1rem;
}

.card__cover {
  pointer-events: none;
  z-index: 5;
  line-height: 1em;
  color: white;
  align-items: center;
  justify-content: center;
}

.card__content {
  background-color: white;
  overflow-y: auto;
  justify-content: center;
}

.bsa {
  grid-area: bsa;
}

.qa {
  grid-area: qa;
}

.js {
  grid-area: js;
}

.java {
  grid-area: java;
}

.php {
  grid-area: php;
}

.dotnet {
  grid-area: dotnet;
}

.details_wrapper {
  grid-area: details;
  display: flex;
  flex-direction: column;
}

.events {
  flex: 2 1 40%;
}

.blog {
  flex: 2 1 40%;
}

.contacts {
  flex: 1 2 20%;
}

/* Card covers */

.bsa > .card__cover {
  background-color: white;
}

.bsa > .card__cover > img {
  width: 50%;
}

.qa > .card__cover {
  background-color: #48b86f;
  font-size: var(--text-large);
}

.js > .card__cover {
  background-color: #f6c965;
  color: black;
  font-size: var(--text-huge);
  font-weight: bold;
  justify-content: flex-end;
  align-items: flex-end;
}

.java > .card__cover {
  background-color: #dc2542;
  font-size: var(--text-medium);
  font-weight: 500;
}

.php > .card__cover {
  background-color: #7d88b5;
  color: black;
  font-style: italic;
  font-size: var(--text-large);
}

.dotnet > .card__cover {
  background-color: #591d68;
  font-size: var(--text-large);
}

.events > .card__cover,
.blog > .card__cover,
.contacts > .card__cover {
  font-weight: 500;
  font-size: var(--text-regular);
}

.events > .card__cover {
  background-color: #298ef7;
  font-weight: 500;
}

.blog > .card__cover {
  background-color: #033a94;
  font-weight: 500;
}

.contacts > .card__cover {
  background-color: #022152;
}

/* Card contents */

.bsa > .card__content {
  align-items: center;
}

.js > .card__content,
.php > .card__content,
.qa > .card__content,
.dotnet > .card__content,
.java > .card__content {
  font-size: var(--text-regular);
  font-weight: bold;
}

.events > .card__content,
.blog > .card__content {
  font-size: var(--text-small);
}

.contacts > .card__content {
  justify-content: center;
  align-items: center;
}

.social-list {
  display: flex;
  justify-content: space-between;
}

.social-button {
  color: black;
  margin-right: 15px;
}
.social-button:last-child {
  margin: 0;
}

.social-button:hover,
.social-button:active {
  color: #009efb;
}

.button {
  padding: 0.75rem 2rem;
  color: white;
  background-color: #298ef7;
  border-radius: 3px;
  text-decoration: none;
}

.button:hover,
.button:active {
  background-color: #033a92;
}
