:root {
  --header-logo-width: 130px;
  --header-avatar-size: 2.25rem;
  --header-dropdown-menu-width: 10rem;
}

.header-wrapper {
  background-color: white;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 100;
}

.header {
  padding: 0 var(--horizontal-padding);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--header-height);
}

.header__logo {
  width: var(--header-logo-width);
  cursor: pointer;
}

.header__menu {
  display: flex;
  align-items: center;
}

.header__notification-button {
  cursor: pointer;
  color: slategray;
  opacity: 0.5;
  font-size: 1.25rem;
}

.header__notification-button:hover {
  opacity: 0.75;
}

.header__dropdown {
  margin-left: 1rem;
}

.header__dropdown__checkbox {
  position: absolute;
  z-index: 2;
  height: var(--header-avatar-size);
  width: var(--header-avatar-size);
  opacity: 0;
  cursor: pointer;
}

.header__avatar {
  border-radius: 50%;
  height: var(--header-avatar-size);
  width: var(--header-avatar-size);
  background-color: #fb7f00;
  color: white;
  font-size: 1.25rem;
  opacity: 0.75;
}

.header__dropdown__checkbox:hover + .header__avatar,
.header__dropdown__checkbox:active + .header__avatar,
.header__dropdown__checkbox:checked + .header__avatar {
  opacity: 1;
}

.header__dropdown__menu {
  box-sizing: border-box;
  width: var(--header-dropdown-menu-width);
  padding: 0.75rem 1rem;
  position: absolute;
  visibility: hidden;
  top: calc(
    (var(--header-height) - var(--header-avatar-size)) / 2 +
      var(--header-avatar-size) + 8px
  );
  right: calc(var(--horizontal-padding));
  background-color: white;
  border: 1px solid #e1e4e8;
  border-radius: 6px;
  box-shadow: 0 0 24px rgba(149, 157, 165, 0.6);
}

.header__dropdown__menu::before {
  content: "";
  position: absolute;
  top: -12px;
  right: 10px;
  border: 6px solid transparent;
  border-bottom: 6px solid white;
}

.header__dropdown__checkbox:checked ~ .header__dropdown__menu {
  visibility: visible;
}

.header__dropdown__username {
  color: slategray;
  margin-bottom: 6px;
  padding-bottom: 6px;
  text-align: center;
  border-bottom: 1px solid slategray;
}

.header__dropdown__menu-item {
  padding: 0.5rem 1rem;
}

.header__dropdown__menu-item:hover {
  cursor: pointer;
  background-color: #f6f7fc;
}
