@import "animations.css";
@import "cards.css";
@import "header.css";
@import "notifications.css";
@import "footer.css";

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

:root {
  --horizontal-padding: 5vw;
  --header-height: 4rem;
  --footer-height: 3rem;
  --vertical-padding: 4rem;
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  :root {
    --horizontal-padding: 10vw;
  }
}

body {
  position: relative;
  background-color: #f6f7fc;
  font-family: Roboto, sans-serif;
}

.content {
  box-sizing: border-box;
  height: auto;
  min-height: 100vh;
  padding: 0 var(--horizontal-padding);
  padding-top: calc(var(--header-height) + var(--vertical-padding));
  padding-bottom: calc(var(--footer-height) + var(--vertical-padding));
}
