.notifications-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 50;
  width: 15rem;
  bottom: 1rem;
  right: 1rem;
}

.notification {
  color: white;
  padding: 1rem;
  border-radius: 6px;
  opacity: 0.9;
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

.notification > i {
  margin-right: 1rem;
}

.notification.success {
  background-color: #149b48;
}

.notification.warning {
  background-color: #ffb01c;
}

.notification.error {
  background-color: #d30e32;
}
